{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'images/abdelhakeLogo_white.png' %}">
    <title>{% block title %}{% endblock title %}</title>
    {% block seo %}{% endblock seo %}
    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous" defer></script>
    {% if GA_MEASUREMENT_ID %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GA_MEASUREMENT_ID }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ GA_MEASUREMENT_ID }}');
    </script>
    {% endif %}
    {% block links %}

    {% endblock links %}
</head>
<body>
{% block content %}

{% endblock content %}
{% block scripts %}

{% endblock scripts %}
</body>
</html>