$base-main-size: 16px;
$base-main-color: #fff;
$base-seconde-color:black;
$base-main-font-family: 'Roboto', sans-serif;

$color-grey: #4b4b4b;
$right-background-color: #050a14;
$right-background-color-2: #1d222c;
$theme-color: #0190dc;
$even-background-color: #e9f4fa;
$title-size: $base-main-size * 1.5;
$subtitle-size: $base-main-size * 1.2;

$small-margin: 10px;
$medium-margin: 20px;
$large-margin: 30px;
$section-margin: 300px;

$small-padding: 10px;
$medium-padding: 20px;
$large-padding: 30px;

$small-border-radius: 5px;
$medium-border-radius: 10px;
$large-border-radius: 20px;
$circle-border-radius: 50%;

$small-gap: 10px;
$medium-gap: 20px;
$large-gap: 30px;