{% load static %}
{% load i18n %}
<div id="home"  >
    <div class="home-my_img" {% if pi.show_background and pi.background %}style="background-image: url('{{pi.background.url}}')"{% endif %}>
        <div class="home-my_info">
            {% if pi.show_full_name %}
            <h1 class="title">{{pi.full_name}}</h1>
            {% endif %}
            {% if pi.show_what_i_do %}
            <p class="subtitle" >I'm <span id="typing-text" value="{{ pi.what_i_do|default:'' }}"></span></p>
            {% endif %}
        </div>
    </div>

</div>
