{% load i18n %}
{% load app_tags %}
<div id="portfolio" class='{{class}}'>
    <p class="section-title">{% trans "Portfolio" %}</p>
    <div id="proj-id" >
    </div>

    <div class="my-projects">
        {% for project in projects %}
        <div class="project">
            <button hx-get="{% url 'app:get_project' %}?proj={{project.id}}" hx-target="#proj-id" onclick="window.location.href='#portfolio'">
                <div class="project-content">
                    <img src="{{project.main_image.url}}" alt="">
                    <div class="project-description">
                        <p class="project-title">{{project.title}}</p>
                        <p class="technology">
                            {{project.technologies_used}}
                        </p>
                    </div>
                </div>
            </button>
        </div>

        {% endfor %}
    </div>
</div>