{% load i18n %}
{% load app_tags %}
<div id="portfolio" class='{{class}}'>
    <h2 class="section-title">{% trans "Portfolio" %}</h2>
    <div id="proj-id" >
    </div>

    <div class="my-projects">
        {% for project in projects %}
        <div class="project">
            <button hx-get="{% url 'app:get_project' %}?proj={{project.id}}" hx-target="#proj-id" onclick="window.location.href='#portfolio'">
                <span class="project-content">
                    <img src="{{project.main_image.url}}" alt="{{ project.title }}" loading="lazy">
                    <span class="project-description">
                        <span class="project-title">{{project.title}}</span>
                        <span class="technology">
                            {{project.technologies_used|clean_tech_list}}
                        </span>
                    </span>
                </span>
            </button>
        </div>

        {% endfor %}
    </div>
</div>